# DATA ANALYSIS USING PANDAS

In [2]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [ ]:
#Read Headers
print(df.columns)
## read each specific column
print(df['Name'][0:5])
print(df[['Name','Type 1','HP']])
## Read Each Row
print(df.iloc[1:4])
##print row in order
for index,row in df.iterrows():
    print(index,row['Name'])
##Read a specific location(R,C)
print(df.iloc[2,1])
##read a specific row
df.loc[df['Type 1']=="Fire"] #==> its for conditional statement

In [ ]:
df.sort_values('Name')
## Sorting Data
df.sort_values(['Type 1','HP'], ascending=[1,0])

# Making changes to the data

In [ ]:
df['Total'] = df['Hp']+ df['Attack']+ df['Defense']+ df['sp.atk'] + df['sp.atk'] + df['Speed']
df['Total'] = df.iloc[:,4:9].sum(axis=1)
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)
df.to_csv('modifies.csv',index=False)
df.to_excel('modifies.xlsx' , index=False)

# Filtering Data

In [ ]:
#filtering Data
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'poison') & (df['HP'] > 70)]
new_df.to_csv
new_df.reset_index(drop=True,inplace=True)

#To remove Name with Mega

df.loc(df['Name'].str.contains('mega'))
import regex
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
#get Name starting with pi
df.loc[df['Type 1'].str.contains('pi[a-z]*', flags=re.I, regex=True)]
#get pi in the middle
df.loc[df['Type 1'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

# Conditional Changes

In [4]:
#changing the column data name
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamers'
df
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamers,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamers,Water,80,110,120,130,90,70,6,True

In [ ]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = 'TEST VALUE'
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['TEST VALUE','TEST 2']

# Aggregate Statistics (Groupby)

In [ ]:
df = pd.read_csv('modified.csv')
#pokemon with highest defense 
#i.first groupby Type 1
df.groupby(['Type 1']).mean()
#2 sort value by Defense
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
#count
df['count'] = 1
df
df.groupby(['Type 1']).count()

# Aggregate Statistic

In [6]:
df['count'] = 1
df
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data

In [ ]:
#CREATE NEW COLUMNS OF SAME COLOUM
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('pokemon_data.csv', chunksize=5):
    print("CHUNK DF")
    results = df.groupby(['Type 1']).count()

    new_df = pd.concat([new_df, results])